<div class='about-positions'>

  <h3 class='small-head'>Summer 2018</h3>

  {% for item in site.positions %}
    {% if item.time == "summer2018" %}
      {% include position-gen.html name=item.name role=item.role description=item.content %}
    {% endif %}
  {% endfor %}

  <h3 class='small-head'>Summer 2017</h3>

  {% for item in site.positions %}
    {% if item.time == "summer2017" %}
      {% include position-gen.html name=item.name role=item.role description=item.content %}
    {% endif %}
  {% endfor %}

</div>
