{% if page.topStrip == 'video case study' %}
{% assign isVid = true %}
{% endif %}

{% if page.slider-custom-extensions %}
{% assign custExt = true %}
{% endif %}

<div class='slider'>
  <div class='slider-main'>
    {% for img in include.data %}
    <img class='slider-img' src='img/{% if isVid %}video{% else %}photo{% endif %}/{{ page.permalink }}/{{ img }}{% if custExt %}{% else %}.jpg{% endif %}'>
    {% endfor %}
  </div>
  <div class='slider-selector-container'>
    <div class='slider-selector'>
      {% for img in include.data %}
      <img class='slider-select' src='img/{% if isVid %}video{% else %}photo{% endif %}/{{ page.permalink }}/{{ img }}{% if custExt %}{% else %}.jpg{% endif %}'>
      {% endfor %}
    </div>
  </div>
</div>
