---
layout: default
---

    <div class='content-container-inner'>

      <div class='home-prof'><img src='{{ site.baseurl }}/img/about/profile.jpg'></img></div>

      <p class='hero-text'>Hello! I'm <b>Samson Zhang</b>. I'm a filmmaker, photographer, designer, developer, and junior at Phillips Academy. Welcome to my portfolio!</p>

      <div class='divider'></div>

      <!--DIVIDER-->

      <form class='small-head home-tabs'>

        <input type='radio' name='home-tabs' id='cat-video' checked/>
        <label class='small-head' for='cat-video'>Video</label>

        <input type='radio' name='home-tabs' id='cat-photo'/>
        <label class='small-head' for='cat-photo'>Photo</label>

        <div class='small-head label-design'><span><a href='https://www.behance.net/wwsalmon' target="_blank"><i class="fab fa-behance" style='margin-right: 8px;'></i>Design</a></span></div>

        <input type='radio' name='home-tabs' id='cat-other'/>
        <label class='small-head' for='cat-other'>Other</label>

      </form>

      <div class='projects cat-video'>

        <div class='project-item home-reel'>
          <div class='video-container'><iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/WplYyJehtOw?showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe></div>
        </div>

        {% include project-gen.html data-list=site.data.video-proj %}

      </div>

      <div class='projects cat-photo'>

        {% include project-gen.html data-list=site.data.photo-proj %}

      </div>

      <div class='projects cat-other'>

        <div class='page'>

          <div class='other-item'><span><a href='tools/index.html'><i class="fas fa-toolbox" style='margin-right: 8px;'></i> Tools / Weapons of choice</a></span></div>

          <p>All the fancy hardware and software I use.</p>

          <div class='other-item'><span>This website: technical details</span></div>

          <p>Coded in HTML, CSS, and JS using JQuery from scratch in Atom; hosted on GitHub Pages. This is v0.4.5 of this website, see the below link for a full documentation of its history.</p>

          <div class='other-item'><span><a href='archive/index.html'><i class="far fa-clock" style='margin-right: 8px;'></i> wwsalmon.com Archive</a></span></div>

          <p>A comprehensive documentation of the history of wwsalmon.com, including links to live or preservations of every version and commentary. Basically tells the story of how I learned web development and all the little experiments I did along the way, has a good amount of technical details if you care about that.</p>

          <div class='other-item'><span><a href='nia.pdf'>NIA</a></span></div>

          <p>PDF of a 200-ish page story I wrote when I was in like sixth grade that I'm trying to get my sister to read.</p>

        </div>

      </div>

    </div>

  <script src='{{ site.baseurl }}/js/project-toggle.js'></script>
